#menu {
	height: 750px;
	width: 375px;
	background-color: lightgray;
	white-space: nowrap;
	display: inline-block;
}

#board {
	width: 750px;
	border: 1px solid black;
	margin: 0;
	white-space: nowrap;
	display: inline-block;
}

#spaceInfo {
	margin: 5px;
	padding: 5px;
	background-color: white;
}

.boardRow {
	height: 75px;
	width: 750px;
}

.boardSpace {
	height: 75px;
	width: 75px;
	/*border: 1px black solid;*/
	white-space: nowrap;
	display: inline-block;
}

.selectedSpace {
	border: 1px dashed white;
}

/*Board Spaces*/
.desert {
	background-color: tan;
}

.grass {
	background-color: lightgreen;
}

.mountain {
	background-color: gray;
}

.water {
	background-color: lightblue;
}

.forest {
	background-color: darkgreen;
}

.town {
	border: 5px lightgreen solid;
	background-color: brown;
}